@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}
body {
  background-color: #121212;
  color: #ffffff;
}